//
// Styling for buttons
//

.homepage-see-more {
  margin: auto;
  display: block;
}

.login-section {
  margin: auto;
  display: block;
}

.add-next {
    float: right;
    width: 25%;
    margin: 10px;
}

.btn-stretch {
  display: block;
  width: 100%;
}
