
.seatingChart .col-md-3 {
	border-left: 2px solid #E4E4E4;
 	border-top: 2px solid #E4E4E4;
 	border-right: 2px solid #CBCBCB;
 	border-bottom:  2px solid #CBCBCB;

 	border-bottom-left-radius: 10% 10%;
 	border-top-left-radius: 10% 10%;
	border-bottom-right-radius: 10% 10%;
	border-top-right-radius: 10% 10%; 

	box-shadow: 2px 2px 2px #888888;

	margin-right: 5px;
	margin-bottom: 5px;

	width: 21%;
	
}

.seatingChart img{
	padding-top: 10%;
	width: 200px;
	height: 200px;
}

.seatingChart a:link, a:visited{
	color: black;
}

.seatingChart a:hover{
	color: blue;
}