
<div class="container">
  <div class="utilitySection">
    <h1 class="rounded-header">{{header}}</h1>
    <hr />
  </div>
  <form name="ReassignEmployeeToCompanyForm" ng-submit="submit()">
  <div class="row">
    <div class="col-md-3">
      <h3 class="employee-name">{{employee.firstName}} {{employee.lastName}}</h3>
    </div>
    <div class="col-md-3">
      <h3 class="employee-name">{{employee.email}}</h3>
    </div>
    <div class="col-md-3">
      <h3 class="employee-name">{{employee.title}}</h3>
    </div>
    <div class="col-md-3">
      <img src="{{imageURL}}" ng-show="!noURL" class="profile-image" />
    </div>
  </div>
  <h3>Reassign {{employee.firstName}} {{employee.lastName}} to a company</h3>
  <div class="form-group">
    <select class="form-control" id="company" name="company" ng-model="companyID" required>
      <option ng-repeat="item in companies" value="{{item.companyID}}">{{item.companyID}} {{item.companyName}}</option>
    </select>
  </div>
  <div>
    <input  class="btn btn-success btn-md" type="submit" name="submit" value="submit" />
  </div>
  </form>
</div>
