
<div class="container">
  <h1 class="rounded-header">{{header}}</h1>
  <form name="editEmployeeForm" ng-submit="submit(file)">
    <table class="table table-hover">
      <tr>
         <th>First Name</th>
         <td><input class="form-control" type="text" name="firstName" ng-model="employee.firstName" required /></td>
       </tr>
       <tr>
         <th>Last Name</th>
         <td><input class="form-control" type="text" name="lastName" ng-model="employee.lastName" required /></td>
       </tr>
       <tr>
         <th>Email Address</th>
         <td><input class="form-control" type="email" name="email" ng-model="employee.email" required /></td>
       </tr>
       <tr>
         <th>Password</th>
         <td><input class="form-control" type="password" name="password" ng-model="employee.password" required /></td>
       </tr>
       <tr>
         <th>Job Title</th>
         <td><input class="form-control" type="text" name="title" ng-model="employee.title" required /></td>
       </tr>
       <tr>
         <th>Department</th>
         <td><input class="form-control" type="text" name="department" ng-model="employee.department" required /></td>
       </tr>
       <tr>
         <th>Restroom Usage</th>
         <td><input class="form-control" type="number" step="0.01" name="restroomUsage" ng-model="employee.restroomUsage" required /></td>
       </tr>
       <tr>
         <th>Noise Preference</th>
         <td><input class="form-control" type="number" step="0.01" name="noisePreference" ng-model="employee.noisePreference" required /></td>
       </tr>
       <tr>
         <th>Out of Desk</th>
         <td><input class="form-control" type="number" step="0.01" name="outOfDesk" ng-model="employee.outOfDesk" required /></td>
       </tr>
       <tr>
         <th>Profile Image</th>
         <td><input class="form-control" type="file" ngf-select ng-model="file" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFiles"/><img ng-show="editEmployeeForm.file.$valid" ngf-thumbnail="file"
           style="width: 50px; height: 50px; float: none; position: relative;" /></td>
       </tr>
       <tr>
         <th>Permission Level</th>
         <td><input class="form-control" type="text" nmae="permissionLevel" ng-model="employee.permissionLevel" required /> </td>
       </tr>
       <tr>
         <th>Submit Changes</th>
         <td><input  class="btn btn-success btn-md" type="submit" name="submit" value="submit" /></td>
       </tr>
    </table>
  </form>
</div>
