<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="rounded-header">{{companyName}}</h1>
    </div>
  </div>
  <hr />
  <ul class="nav nav-tabs">
    <li ng-show="adminAccess"><a data-toggle="tab" href="office-detail/{{officeID}}">Details</a></li>
    <li class="active"><a data-toggle="tab" href="/office-employees/{{officeID}}">Employees</a></li>
    <li ng-show="adminAccess"><a data-toggle="tab" href="/floorplan/{{officeID}}">Floorplan</a></li>
  </ul>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/employee-detail/{{employeeID}}">Employee Details</a></li>
        <li><a href="/team-members/{{employeeID}}">Department and Team</a></li>
        <li><a href="/employee-preferences/{{employeeID}}">Preferences</a></li>
        <li class="active"><a href="#">Coworkers</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <h3 class="employee-name">{{header}}</h3>
        </div>
        <div class="col-md-4">
          <button class="btn btn-warning btn-md" ng-show="canEdit" ng-click="updateCoworkers(employeeID, officeID)">Update Coworkers</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-success btn-md" ng-show="canEdit" ng-click="editEmployee(employeeID)">Edit Employee</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <form class="form-inline">
          <input ng-model="query1" type="text" class="form-control" placeholder="Search for" autofocus>
          </form>
        </div>
        <div class="col-md-3">
          <form class="form-inline">
          <input ng-model="query2" type="text" class="form-control" placeholder="Search for" autofocus>
          </form>
        </div>
        <div class="col-md-3">
          <form class="form-inline">
          <input ng-model="query3" type="text" class="form-control" placeholder="Search for" autofocus>
          </form>
        </div>
        <div class="col-md-3">
          <form class="form-inline">
          <input ng-model="query4" type="text" class="form-control" placeholder="Search for" autofocus>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>Available Employees</h4>
        </div>
        <div class="col-md-3">
          <h4 class="coworker-header">Blacklist</h4>
        </div>
        <div class="col-md-3">
          <h4>Available Employees</h4>
        </div>
        <div class="col-md-3">
          <h4 class="coworker-header">Whitelist</h4>
        </div>
      </div>
      <div class="row">
        <div class='parent1'>
          <div class="col-md-6">
            <div class='wrapper1'>
             <div class='container1' dragula='"bag1"' dragula-model='employees'>
               <div ng-repeat='employee in employees | filter: query1'>
                 <span>{{employee.firstName}} {{employee.lastName}}, {{employee.email}}, {{employee.title}}, {{employee.department}}</span>
               </div>
             </div>
             <div class='container1' dragula='"bag1"' dragula-model='blacklist'>
                <div ng-repeat='employee in blacklist | filter: query2'>
                  <span>{{employee.firstName}} {{employee.lastName}}, {{employee.email}}, {{employee.title}}, {{employee.department}}</span>
                </div>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class='wrapper1'>
              <div class='container2' dragula='"bag2"' dragula-model='employees'>
                 <div ng-repeat='employee in employees | filter: query3'>
                   <span>{{employee.firstName}} {{employee.lastName}}, {{employee.email}}, {{employee.title}}, {{employee.department}}</span>
                 </div>
               </div>
               <div class='container2' dragula='"bag2"' dragula-model='whitelist'>
                 <div ng-repeat='employee in whitelist | filter: query4'>
                   <span>{{employee.firstName}} {{employee.lastName}}, {{employee.email}}, {{employee.title}}, {{employee.department}}</span>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
