
<div class="container">
  <h1>{{header}}</h1>
  <table class="table table-striped">
    <thead>
      <th>Employee ID</th>
      <th>First name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Action</th>
    </thead>
    <tbody ng-repeat="model in collection">
      <tr>
        <td>{{model.employeeID}}</td>
        <td>{{model.firstName}}</td>
        <td>{{model.lastName}}</td>
        <td>{{model.email}}</td>
        <td><button ng-click="view(model.employeeID)">View</button></td>
      </tr>
    </tbody>
  </table>
</div>
