
<div class="container">
  <h1 class="rounded-header">{{header}}</h1>
  <h2 ng-if="incorrectLogin">Incorrect Credentials</h2>
  <form name="loginForm" ng-submit="submit(employee)">
  <table class="table table-hover">
    <tr>
       <th>Email</th>
       <td><input class="form-control" type="email" name="email" ng-model="employee.email" required /></td>
     </tr>
     <tr>
       <th>Password</th>
       <td><input class="form-control" type="password" name="password" ng-model="employee.password" required /></td>
     </tr>
     <tr>
       <th>Login</th>
       <td><input  class="btn btn-success btn-md" type="submit" name="submit" value="Login" />
        <a href="/password-reset">Reset Password</a></td>
     </tr>
  </table>
  </form>
</div>
