
<div class="container">
  <h1 class="rounded-header">{{header}}</h1>
  <h2 ng-if="issue">{{message}}</h2>
    <form name="loginForm" ng-submit="submit(employee)">
      <table ng-if="validToken  && !success" class="table table-hover">
        <tr>
         <th>New Password</th>
         <td><input class="form-control" type="password" name="password" ng-model="employee.password" required /></td>
       </tr>
       <tr>
        <th>Confirm Password</th>
        <td><input class="form-control" type="password" name="confirmPassword" ng-model="employee.confirmPassword" required /></td>
      </tr>
      <tr>
        <td><input  class="btn btn-success btn-md" type="submit" name="submit" value="Set New Password" /></td>
     </tr>
   </table>
 </form>
</div>
