<body>
	<div class ="col-md-2">
		<table class="table table-hover">
		  <tr>
		     	<div class="searchbox-section">
		           <form class="form-inline">
		           <input ng-model="query" type="text" class="form-control" placeholder="Search for" autofocus>
		           </form>
		         </div>
		   </tr>
		   <tr>
		   		<th>Floor</th>
		   		<td>
		   			<select name="floorSelect" ng-model="floorQuery" placeholder="Select a floor">
		   				<option value="">--Select a floor--</option>
		   				<option ng-repeat="floor in floors" value="{{floor.floor}}">{{floor.floor}}</option> 
		   			</select>
		   		</td>
		   </tr>
		   <tr>
		   		<th>Seats</th>
		   		<td>
		   			<select name="seatSelect" ng-model="seatChoice" placeholder="Select a range">
		   				<option value="">--Select a range--</option>
		   				<option value="Less than 25">Less than 25</option>
		   				<option vlaue="Between 25 and 50">Between 25 and 50</option>
		   				<option value="More than 50">More than 50</option> 
		   			</select>
		   		</td>
		   </tr>
		</table>
	</div>
	<div class="col-md-8">
		<div class="container">
		  <h3>Seating Charts</h3>
			<div class="seatingChart">
				<div class="row" >
				    <div class="col-md-3" ng-repeat-start="item in testing | filter: query | filter: {floor: floorQuery} | filter: filterSeats">
				        <a href=""><img ng-src="{{item.img}}"></img><p>{{item.name}}</p><p>Seats: {{item.seats}}</p>
				        </a>
				    </div>
				    <div class="clearfix" ng-if="$index%4==3"></div>
				    <div ng-repeat-end=""></div>
				</div>
			</div>
		</div>
	</div>
</body>
