
<div class="container">
  <div class="utilitySection">
    <h1 class="rounded-header">{{header}}</h1>
    <hr />
  </div>
  <form name="selectActiveSeatingChartForm" ng-submit="submit()">
  <div class="form-group">
    <select class="form-control" id="seatingChart" name="seatingChart" ng-model="seatingChartID" required>
      <option value="">Select a seating chart to be the active seating chart for {{office.officeName}}</option>
      <option ng-repeat="item in seatingCharts" value="{{item.id}}">{{item.id}} {{item.name}}</option>
    </select>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input class="btn btn-success btn-md" type="submit" name="submit" value="submit" />
    </div>
  </div>
  </form>
  <!-- <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success btn-md" ng-click="goBack()"> < Back</button>
    </div>
  </div> -->
</div>
