
<div class="container">
  <!-- title section -->
  <div class="utilitySection">
    <h1 class="rounded-header">
      All Seating Charts
    </h1>
    <hr />
  </div>
  <!-- alert message -->
  <div ng-if="message.text">
    <div class="alert alert-{{ message.type }}">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message.text }}
    </div>
  </div>
  <!-- "Offices" dropdown
  <div class="utilitySection">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
        Offices <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="office in offices">
          <a data-office="{{office.officeID}}">
            {{office.officeName}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr /> -->
  <div class="utilitySection">
    <div class="searchbox-section">
      <form class="form-inline">
        <input ng-model="query" type="text" class="form-control" placeholder="Search for">
      </form>
    </div>
    <div class="add-button-section">
      <button class="btn btn-success btn-md"  ng-click="goToAdd()">
        + Add Seating Chart
      </button>
    </div>
  </div>
  <table class="table table-striped view-items-table">
    <thead>
      <th>Base Floor Plan</th>
      <th>Name</th>
      <th colspan="3" class="action-header">Actions</th>
    </thead>
    <tbody ng-repeat="seatingChart in seatingCharts | filter: query">
      <tr>
        <td>{{seatingChart.base_floor_plan_name}}</td>
        <td>{{seatingChart.name}}</td>
        <!-- <td class="action-header">
          <button class="btn btn-info btn-sm" ng-click="goToEdit(seatingChart.id)">
            View Results
          </button>
        </td> -->
        <td class="action-header">
          <button class="btn btn-primary btn-sm">
            Run Seating Algorithm
          </button>
        </td>
        <td class="action-header">
          <button class="btn btn-danger btn-sm" ng-click="openDelete(seatingChart.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
