
<div class="container">
  <h1 class="rounded-header">{{header}}</h1>
  <form name="addTemperatureRangeForm" ng-submit="submit()">
  <table class="table table-hover">
     <tr>
       <th>Lower Temperature in &#8457</th>
       <td><input class="form-control" type="number" step="1" name="lower" ng-model="temperatureRange.lower" required /></td>
     </tr>
     <tr>
       <th>Upper Temperature in &#8457</th>
       <td><label class="form-control">{{temperatureRange.lower + 2}}</label></td>
     </tr>
     <tr>
       <th>Submit New Temperature Range</th>
       <td><input  class="btn btn-success btn-md" type="submit" name="submit" value="submit" /></td>
     </tr>
  </table>
  </form>
</div>
